# Mac
.DS_Store

# Bazel
/bazel-*
/external
/user.bazelrc
/build_events.json

# C++
/compile_commands.json
.cache
default.profraw

# Python
*.pyc

# Node
**/node_modules

# Typescript
**/out/
**/dist/
*.tsbuildinfo

# Next.js
**/next-env.d.ts
**/.next
**/analyze/nodejs.html

# Rust
debug/
target/

# Idea
**/.idea
**/.clwb

# Snyk
**/.dccache

# playwright output
test-results/
playwright-report/
.e2e_tests_auth/

# Prefer yarn install and ignore package-lock
**/package-lock.json

# Jest
coverage
junit.xml

# Rust
rust-project.json

# Vercel
.vercel

# Test output files
**/*_test.xml
**/junitresults*

# virtual env
venv

# retry data created by tests
retry.data
TESTS-behave.xml

.bundle
ruby/minitest/results/

**/java/maven/target/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/apple/swift/.build/


# bazel
bazel-*
go/src/counter_test.txt

.venv
python/behave/retry.data
