name: Java Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Run tests with Gradle
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          junit-paths: "**/gradle/**/test-results/*.xml"
          org-slug: trunk-staging-org
          cli-version: 0.5.12
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          run: gradle test --project-dir java/gradle
        env:
          TRUNK_PUBLIC_API_ADDRESS: https://api.trunk-staging.io

      - name: Run tests with Maven
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: "**/surefire-reports/*.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk-staging-org
          cli-version: 0.5.12
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          run: mvn test --file java/maven/pom.xml --quiet
        env:
          TRUNK_PUBLIC_API_ADDRESS: https://api.trunk-staging.io

      - name: Run playwright tests with Maven
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: "**/playwright/**/surefire-reports/*.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk-staging-org
          cli-version: 0.5.12
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          run: mvn test --file java/playwright/pom.xml --quiet
        env:
          TRUNK_PUBLIC_API_ADDRESS: https://api.trunk-staging.io
