name: Java Tests

on:
  schedule:
    - cron: "*/6 * * * *"
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      # trunk-ignore(checkov/CKV_GHA_7)
      cli-version:
        type: string
        required: false
        description:
          The version of `analytics-cli` to use. Defaults to the latest specified in
          `analytis-uploader`.

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: Run tests with Gradle
        if: ${{ always() }}
        uses: ./.github/actions/analytics-uploader-wrapper
        with:
          token-staging: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          token-prod: ${{ secrets.TRUNK_PROD_ORG_API_TOKEN }}
          token-dev: ${{ secrets.TRUNK_DEV_ORG_API_TOKEN }}
          token-dev2: ${{ secrets.TRUNK_DEV2_ORG_API_TOKEN }}
          cli-version: ${{ inputs.cli-version }}
          junit-paths: "**/gradle/**/test-results/**/*.xml"
          run: gradle test --project-dir java/gradle

      - name: Run tests with Maven
        if: ${{ always() }}
        uses: ./.github/actions/analytics-uploader-wrapper
        with:
          token-staging: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          token-prod: ${{ secrets.TRUNK_PROD_ORG_API_TOKEN }}
          token-dev: ${{ secrets.TRUNK_DEV_ORG_API_TOKEN }}
          token-dev2: ${{ secrets.TRUNK_DEV2_ORG_API_TOKEN }}
          cli-version: ${{ inputs.cli-version }}
          junit-paths: "**/surefire-reports/*.xml"
          run: mvn test --file java/maven/pom.xml --quiet

      - name: Run playwright tests with Maven
        if: ${{ always() }}
        uses: ./.github/actions/analytics-uploader-wrapper
        with:
          token-staging: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          token-prod: ${{ secrets.TRUNK_PROD_ORG_API_TOKEN }}
          token-dev: ${{ secrets.TRUNK_DEV_ORG_API_TOKEN }}
          token-dev2: ${{ secrets.TRUNK_DEV2_ORG_API_TOKEN }}
          cli-version: ${{ inputs.cli-version }}
          junit-paths: "**/playwright/**/surefire-reports/*.xml"
          run: mvn test --file java/playwright/pom.xml --quiet
