name: Run Mocha Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: [self-hosted, linux]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - uses: pnpm/action-setup@v3
        with:
          version: 8

      #   - name: Trunk install
      #     uses: trunk-io/trunk-action/setup@latest

      - name: Install Dependencies
        run: |
          pnpm install

      - name: Run Tests
        run: npm test

      - name: Flaky Test Reporter
        if: ${{ always() }}
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: "**/*_test.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk-staging-org
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
        env:
          TRUNK_API_ADDRESS: https://api.trunk-staging.io/v1/metrics/createBundleUpload
        continue-on-error: true
