name: Retryable Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: public-amd64-small

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: trunk install
        uses: trunk-io/trunk-action/install@54ccfcf9add644a36a5aa1d0046c92f654ff9e45

      - name: test
        id: test
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: "**/python/results/*-behave.xml"
          # Provide your Trunk organization slug.
          org-slug: trunk-staging-org
          cli-version: 0.5.13
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          run: behave --junit-directory=python/results --junit python/behave
        env:
          TRUNK_PUBLIC_API_ADDRESS: https://api.trunk-staging.io

      - name: trigger job re-run
        if:
          ${{ failure() && steps.test.conclusion == 'failure' && fromJSON(github.run_attempt) < 5}}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
        run: gh workflow run rerun.yaml -F run_id=${{ github.run_id }}
