name: Retryable Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request:
    branches: [main]
  workflow_dispatch:
    inputs:
      # trunk-ignore(checkov/CKV_GHA_7)
      cli-version:
        type: string
        required: false
        description:
          The version of `analytics-cli` to use. Defaults to the latest specified in
          `analytis-uploader`.

jobs:
  test:
    runs-on: public-amd64-small

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: trunk install
        uses: trunk-io/trunk-action/install@v1.1.16
        with:
          tools: gh

      - name: Download artifact2
        if: ${{ fromJSON(github.run_attempt) > 1}}
        id: download-artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          pr: ${{github.event.pull_request.number}}
          name: retry-data
          workflow_conclusion: ""
          if_no_artifact_found: error

      - name: test
        # if: ${{ always() }}
        id: test
        shell: bash
        run: behave --junit-directory=python/results --junit python/behave

      - name: Upload Test Results
        if: ${{ always() }}
        uses: ./.github/actions/analytics-uploader-wrapper
        with:
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          cli-version: ${{ inputs.cli-version }}
          junit-paths: "**/python/results/*-behave.xml"

      - name: Upload artifacts
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: retry-data
          path: "**/python/behave/retry.data"
          retention-days: 5

      - name: trigger job re-run
        if:
          ${{ failure() && steps.test.conclusion == 'failure' && fromJSON(github.run_attempt) < 5}}
        env:
          GH_REPO: ${{ github.repository }}
          GH_TOKEN: ${{ github.token }}
          GH_DEBUG: api
        run: gh workflow run rerun.yaml -F run_id=${{ github.run_id }}
