# name: Ruby Tests

# on:
#   schedule:
#     - cron: 0 */6 * * *
#   pull_request:
#     branches: [main]
#   workflow_dispatch:
#     inputs:
#       # trunk-ignore(checkov/CKV_GHA_7)
#       cli-version:
#         type: string
#         required: false
#         description:
#           The version of `analytics-cli` to use. Defaults to the latest specified in
#           `analytis-uploader`.

# jobs:
#   test:
#     runs-on: ubuntu-latest

#     steps:
#       - uses: actions/checkout@v4

#       - name: Set up Ruby
#         uses: ruby/setup-ruby@v1
#         with:
#           ruby-version: 3.1.2
#           bundler-cache: true

#       - name: Run rspec tests
#         uses: ./.github/actions/analytics-uploader-wrapper
#         with:
#           token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
#           cli-version: ${{ inputs.cli-version }}
#           junit-paths: "**/rspec_test.xml"
#           run: bundle exec rspec ruby/rspec --format RspecJunitFormatter --out rspec_test.xml

#       - name: Run minitest tests
#         if: ${{ always() }}
#         uses: ./.github/actions/analytics-uploader-wrapper
#         with:
#           token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
#           cli-version: ${{ inputs.cli-version }}
#           junit-paths: "**/ruby/minitest/results/*.xml"
#           run: bundle exec ruby ruby/minitest/mixer.rb
