name: Rust Tests

on:
  schedule:
    - cron: 0 */6 * * *
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: public-amd64-small

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Build
        run: cargo build -q --all --manifest-path=./rust/Cargo.toml

      - name: Install nextest
        run: curl -LsSf https://get.nexte.st/latest/linux | tar zxf - -C ${CARGO_HOME:-~/.cargo}/bin

      - name: Run tests
        uses: trunk-io/analytics-uploader@main
        with:
          # Path to your test results.
          junit-paths: rust/**/nextest/ci/*junit.xml
          # Provide your Trunk organization slug.
          org-slug: trunk-staging-org
          cli-version: 0.5.13
          # Provide your Trunk API token as a GitHub secret.
          token: ${{ secrets.TRUNK_STAGING_ORG_API_TOKEN }}
          run: cargo nextest run --profile=ci --manifest-path=./rust/Cargo.toml
        env:
          TRUNK_PUBLIC_API_ADDRESS: https://api.trunk-staging.io
